<!-- Menu bar -->
<div class="d-flex justify-content-between align-items-center mx-auto mt-5 menu-bar">

  <div class="d-flex reload">
    <span title="Carregar mais sugestões" disabled="textSearch" 
    class="btn reload"
    (click)="getMoreUsers()">Carregar mais sugestões...
  </span>
</div>

  <div>
    <span class="ml-5">Contatos Sugeridos</span>
  </div>

  <!-- Menu -->
  <div class="d-flex justify-content-around mr-4 mt-3">

<div></div>

    <!-- Searchbar -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search text-info" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control cursor-hand " (change)="filterUsers()" [(ngModel)]="searchText"
        aria-label="Username" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <!-- Recarregar lista -->
        <span title="Limpar Filtro" disabled="textSearch" 
          class="form-control cursor-hand ex text-info"
          (click)="getMoreUsers()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
    </div>

  </div>

</div>


<!-- Card Contatos -->
<div class="d-flex flex-wrap mx-auto my-5 justify-content-center contact">

    <div class="card m-2 " *ngFor="let contact of contacts">

      <!-- Header/Photo -->
      <div class="card-header d-flex justify-content-center">

        <img class="align-self-end" src="{{contact.picture.medium}}">

      </div>

      <!-- Body -->
      <div class="card-body d-flex justify-content-center flex-wrap">

        <!-- Name/Nat -->
        <div class="align-self-start justify-content-around d-flex">

          <div>
            <!-- Name -->
            {{contact.name.first}} {{contact.name.last}}
          </div>

          <!-- Flag -->
          <img title="{{contact.nat}}" class="flags mx-3" src="https://www.countryflags.io/{{contact.nat}}/shiny/64.png">

        </div>

        <!-- Info -->
        <div class="mt-2">
          <!-- Email -->
          <div>
            <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>
            <small class="fs-smaller">{{contact.email}}</small>
          </div>

          <!-- Phone -->
          <div class="d-flex  align-items-center">
            <i class="fa fa-mobile mr-2" style="font-size: 2rem;" aria-hidden="true"></i>
            <small class="fs-smaller">{{contact.phone}} </small>
          </div>
        </div>

      </div>

      <!-- Footer -->
      <div class="card-footer d-flex justify-content-center align-items-center" > 

        <!-- Adicionar -->
          <button title="Adicionar Contato" class="btn btn-contact" (click)="addContact(contact)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        
      </div>

    </div>

  </div>