<nav class="navbar w-100 d-flex justify-content-between">

    <div class="d-flex align-items-center">
        <img src="{{logoPuc}}" class="logo">
        <div class="ml-2" >Trabalho de Tecnologias Web - Angular</div>
    </div>
    

    <div class="d-flex">
        
        <div class="btn btn-info mx-2 cursor-hand" routerLink="/contatos">
            Meus Contatos
        </div>

        <!-- Adicionar contato -->
        <div title="Adicionar contato" class="btn btn-info mx-2 cursor-hand" routerLink="/adicionar">
            Adicionar contatos
        </div>

    </div>

</nav>